* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 2vw 5vw;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.slider_image {
    display: flex;
    overflow: hidden;
    border-radius: 2vw;
    justify-content: center;
}

.slider_image > img + img {
    display: none;
}

.slider_panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

@media (min-width: 700px) {
    .slider_panel {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; 
    }
}

.slider_buttons {
    display: flex;
    gap: 1vw;
}

input:hover {
    cursor: pointer;
}



