* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    color: white;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 2vw 5vw;
    display: flex;
    justify-content: center;
    background-color: gray;
}

.container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow: hidden;
}

.slider_images {
    width: 400%;    
    display: flex;
    border-radius: 2vw;
    transition: transform 1s linear;
}

.slide {
    width: 25%;
}

.slide img {
    width: 100%;
    border-radius: 2vw;
}

.slider_panel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

input[name="slider"] {
    display: none;
}

.label_area {
    width: 2em;
    height: 2em;
    background: blue;
    border-radius: 50%;
}

.label_area:hover {
        cursor: pointer;
    }

#slider_image1:checked ~.slider_panel label[for="slider_image1"],
#slider_image2:checked ~.slider_panel label[for="slider_image2"],
#slider_image3:checked ~.slider_panel label[for="slider_image3"],
#slider_image4:checked ~.slider_panel label[for="slider_image4"] {
    background-color: gray;
    border: 0.2em solid white;
}

#slider_image1:checked ~ .slider_images {
    transform: translateX(0);
}

#slider_image2:checked ~ .slider_images {
    transform: translateX(-25%);
}

#slider_image3:checked ~ .slider_images {
    transform: translateX(-50%);
}

#slider_image4:checked ~ .slider_images {
    transform: translateX(-75%);
}

.slide_text {
    display: none;
}

#slider_image1:checked ~ .text_block .text1,
#slider_image2:checked ~ .text_block .text2,
#slider_image3:checked ~ .text_block .text3,
#slider_image4:checked ~ .text_block .text4 {
    display: block;
}

@media screen and (min-width: 768px) {
    .slider_panel {
        justify-content: flex-end;
    }

    #slider_image1:checked ~ .slider_panel label[for="slider_image1"],
    #slider_image2:checked ~ .slider_panel label[for="slider_image2"],
    #slider_image3:checked ~ .slider_panel label[for="slider_image3"],
    #slider_image4:checked ~ .slider_panel label[for="slider_image4"]
    {
        background-color: white;
    }

}